{
    "presets": ["env"],
    "plugins": [
        ["transform-react-jsx", {
            "pragma": "cpreact.createElement"
        }],
        [
            "transform-decorators-legacy"
        ]
    ]
}
